PORT=8080
DATABASE_URL=jdbc:postgresql://localhost:5432/railway
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password123
REDIS_HOST=localhost
REDIS_PORT=14912
REDIS_PASSWORD=redis123
#openssl rand -base64 32 this command produces random yet strong typed password
JWT_SECRET_KEY=my_strong_password
#connecting languages with http
TELEGRAM_BOT_URL=http://localhost:port
#for the sake of security
EUREKA_URL=your-eureka-host:8761/eureka